.container {
  padding: 20px;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

.toggleButton {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-right: 20px;
  margin-bottom: 10px;
}

.toggleAllButton {
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  margin-bottom: 20px;
}

.innerButton {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 20px;
}

.infoWindow {
  border: 1px solid #ccc;
  background-color: #0085ff;
  border-radius: 10px;
  padding: 20px;
  max-width: 100%;
  color: #fff;
  box-sizing: border-box;
}

.images {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
  object-fit: cover;
  margin-bottom: 20px;
  border-radius: 10px;
  border: 5px solid red;
}

.image {
  width: 100%; 
  height: auto; 
  max-width: 400px; 
  max-height: 300px; 
  border-radius: 20px; 
  margin: 20px 10px; 
  border: 2px solid #fff; 
}

.fileLink,
.link {
  display: block;
  margin-top: 10px;
  color: #333;
  text-decoration: underline;
}

.infoWindow ul {
  font-size: 24px;
  margin: 0 20px;
}

button {
  width: 180px; 
  height: 50px; 
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  transition: 0.3s;
  cursor: pointer;
  margin-bottom: 10px;
}

button:hover {
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.3);
}

/* Media Queries for Responsive Design */
@media (max-width: 1200px) {
  .infoWindow {
    max-width: 90%;
  }

  .image {
    max-width: 300px;
    margin: 10px;
  }

  .infoWindow ul {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  .section {
    flex-direction: column;
    align-items: center;
  }

  .toggleButton {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .image {
    max-width: 100%;
    margin: 10px 0;
  }

  .infoWindow ul {
    font-size: 18px;
    margin: 0 10px;
  }
}

@media (max-width: 480px) {
  .toggleButton {
    width: 80px;
    height: 40px;
    font-size: 14px;
  }

  .toggleAllButton {
    width: 100%;
    padding: 10px;
    font-size: 16px;
  }

  .innerButton {
    width: 100%;
    padding: 10px;
    font-size: 16px;
  }

  .infoWindow {
    padding: 10px;
  }

  .image {
    max-width: 100%;
    margin: 10px 0;
  }

  .infoWindow ul {
    font-size: 16px;
    margin: 0 5px;
  }
  
}
