.container {
  padding: 20px;
}

.section {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
}

.toggleButton {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-right: 20px;
}

.infoWindow {
  border: 1px solid #ccc;
  background-color: #0085ff;
  border-radius: 10px;
  padding: 20px;
  max-width: 2200px;
  color: #fff;
}

.images {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
  object-fit: cover;
  margin-bottom: 20px;
  border-radius: 10px;
}

.image {
  width: 400px;
  height: 300px;
  border-radius: 20px;
  margin: 20px 10px;
  border: 2px solid #fff;
}

.fileLink,
.link {
  display: block;
  margin-top: 10px;
  color: #333;
  text-decoration: underline;
}

.infoWindow ul {
  font-size: 24px;
  margin: 0 20px;
}

button {
  width: 100px;
  height: 50px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  transition: 0.3s;
  cursor: pointer;

  &:hover {
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.3);
  }
}
